body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  width: 1000px;
  border:1px solid #A9A9A9;
  border-radius: 5px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}

h1, h2, h3, h4 {
  text-align: center;
}

#legend {
  text-align: center;
  margin-bottom: 0px;
  width: 300px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  border:1px solid #A9A9A9;
  box-shadow: 5px 5px 5px #A9A9A9;
  border-radius: 5px;
  z-index: -100;
  padding: 10px;
  font-weight: bold;
}

#action_message {
  font-weight: normal;
}

#subtitle {
  font-weight: normal;
  font-size: 20px;
}

#sizes {
  font-weight: normal;
}

#chart_div {
  margin-top: -40px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#summary {
  width: 700px;
  border:1px solid #A9A9A9;
  border-radius: 5px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}
